{% extends '::baseAdmin.html.twig' %}
        {% block content %}
            <section class="content-header">
                <h1>
                    Gestion service

                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li><a href="#">Gestion</a></li>
                    <li class="active">Gestion service</li>
                </ol>
            </section>
            <!-- Main row -->
            <section class="content">
                <div class="row">
                    <!-- left column -->
                    <div class="col-lg-12">
                        <!-- general form elements -->
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Modifier un service</h3>
                            </div>
                            <!-- /.box-header -->
                            <!-- form start -->
                            {{ form_start(form) }}
                            <div class="box-body">
                                <div class="form-group">
                                    {{ form_label(form.categorie) }}
                                    {{ form_widget(form.categorie,{'attr':{'class':'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.libelle) }}
                                    {{ form_widget(form.libelle,{'attr':{'class':'form-control'}}) }}
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.nbPlacesDispo) }}
                                    {{ form_widget(form.nbPlacesDispo,{'attr':{'class':'form-control'}}) }}
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.prix) }}
                                    {{ form_widget(form.prix,{'attr':{'class':'form-control'}}) }}
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.description) }}
                                    {{ form_widget(form.description,{'attr':{'class':'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.imageService) }}
                                    {{ form_widget(form.imageService,{'attr':{'class':'form-control'}}) }}
                                </div>
                                <!-- /.box-body -->

                                <div>
                                    <button type="submit" class="btn btn-primary">Modifier</button>
                                </div>
                                {{ form_end(form) }}
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.row -->
        {% endblock %}