{% extends '::baseAdmin.html.twig' %}
        {% block content %}
            <section class="content-header">
                <h1>
                    Gestion service
                    <small>Preview sample</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li><a href="#">Gestion</a></li>
                    <li class="active">Gestion service</li>
                </ol>
            </section>
            <!-- Main row -->
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Les services recherchés</h3>


                            </div>
                            <!-- /.box-header -->
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-hover">
                                    <tr>
                                        <th>ID</th>
                                        <th>Catégorie</th>
                                        <th>Nom</th>
                                        <th>Image</th>
                                        <th>Nombre de place</th>
                                        <th>Prix Reservation</th>
                                        <th>Description</th>
                                        <th><i class="icon_cogs"></i> Modifier/Supprimer </th>

                                    </tr>

                                    {% for i in services %}
                                        <tr>

                                            <td>{{ i.idService }}</td>
                                            <td>{{ i.categorie }}</td>
                                            <td>{{ i.libelle }}</td>
                                            <td><div style="" >
                                                    <a> <img  src="{{asset ('/photo_membre/' ~ i.imageService ~ '')}}"  class="img-cadre" width="50"></a>
                                                </div></td>
                                            <td>{{ i.nbPlacesDispo }}</td>
                                            <td>{{ i.prix }}</td>
                                            <td>{{ i.description }}</td>

                                            <td>
                                                <div class="btn-group">
                                                    <a class="btn btn-primary" href="{{ path("editService",{'idService': i.idService}) }}"><i class="icon_plus_alt2"></i></a>
                                                    <a class="btn btn-danger" href="{{ path("deletService",{'idService': i.idService}) }}"><i class="icon_close_alt2"></i></a>

                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}



                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.content -->
                </div>
                <div class="row">
                    <!-- left column -->
                    <div class="col-lg-12">
                        <!-- general form elements -->
                    </div>
                </div>

            </section>
            <!-- /.row -->
        {% endblock %}