
{% extends "::base.html.twig" %}
{% block body %}
    <div class="main">
    <div class="shop_top">
        <div class="container">
            <div class="row shop_box-top">

                {% for i in  res  %}
                    <div class="col-md-3 shop_box"><a href="#">

                            <td>
                                <div style="" >
                                    <a> <img  src="{{asset ('/photo_membre/' ~ i.imageService ~ '')}}"  class="img-cadre" width="260"></a>
                                </div>

                            </td>

                            <span class="new-box">
						<span class="new-label">CINEMA</span>
					      </span>
                            <div class="shop_desc">
                                <!--h3><a href="#">aliquam volutp</a></h3>
                                <p>Lorem ipsum consectetuer adipiscing </p>
                                <span class="actual">$12.00</span><br-->
                                <ul class="buttons">
                                    <div>{{ i.libelle }}</div>
                                    <div>Description:  {{ i.description }}</div>

                                    <li class="shop_btn"><a href="{{ path('voirPlus')}}">Voir plus</a></li>
                                    <div class="clear"> </div>
                                </ul>
                            </div>
                        </a></div>
                {% endfor %}

                <div class="row">



                </div>
            </div>
        </div>
    </div>

{% endblock %}