{% extends '::baseAdmin.html.twig' %}
        {% block content %}
            <section class="content-header">
                <h1>
                    Gestion speciale Weekend
                    <small>Preview sample</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li><a href="#">Gestion</a></li>
                    <li class="active">Gestion speciale Weekend</li>
                </ol>
            </section>
            <!-- Main row -->
            <section class="content">
                <div class="row">
                    <!-- left column -->
                    <div class="col-lg-12">
                        <!-- general form elements -->
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Modifier un speciale Weekend</h3>
                            </div>
                            <!-- /.box-header -->
                            <!-- form start -->
                            {{ form_start(form) }}
                            <div class="box-body">
                                <div class="form-group">
                                    <div class="form-group">


                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.jourWeekend) }}
                                        {{ form_widget(form.jourWeekend,{'attr':{'class':'form-control'}}) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.horaire) }}
                                        {{ form_widget(form.horaire,{'attr':{'class':'form-control'}}) }}
                                    </div>
                                    <!-- /.box-body -->
                                    {{ form_end(form) }}
                                    <div>
                                        <button type="submit" class="btn btn-primary">Modifier</button>
                                    </div>

                                </div>
                                {{ form_end(form) }}
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.row -->
        {% endblock %}