{% extends '::baseAdmin.html.twig' %}
        {% block content %}
            <section class="content-header">
                <h1>
                    Gestion speciale weekend

                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li><a href="#">Gestion</a></li>
                    <li class="active">Gestion speciale weekend</li>
                </ol>
            </section>
            <!-- Main row -->
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Table des speciales weekend</h3>

                                <div class="box-tools">
                                    <form method="post" action="rechercheSpecialeWeekend" name="form1">
                                        <div class="input-group input-group-sm" style="width: 150px;">
                                            <input type="text" name="ci" class="form-control pull-right" placeholder="Jour">

                                            <div class="input-group-btn">
                                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-hover">
                                    <tr>
                                        <th>Id SpWeekend</th>
                                        <th>Id Service</th>
                                        <th>Catégorie</th>
                                        <th>Nom</th>
                                        <th>Jour</th>
                                        <th>Horaire</th>
                                        <th><i class="icon_cogs"></i> Modifier/Supprimer </th>

                                    </tr>
                                    {% for i in SpecialeWeekend %}
                                        <tr>
                                            <td>{{ i.idWeekend }}</td>
                                            <td>{{ i.weekendService.idService }}</td>
                                            <td>{{ i.weekendService.categorie }}</td>
                                            <td>{{ i.weekendService.libelle }}</td>
                                            <td>{{ i.jourWeekend }}</td>
                                            <td>{{ i.horaire|date('H:i') }}</td>
                                            <td>
                                                <div class="btn-group">
                                                    <a class="btn btn-primary" href="{{ path("editSpecialeWeekend",{'idWeekend': i.idWeekend}) }}"><i class="icon_plus_alt2"></i></a>
                                                    <a class="btn btn-danger" href="{{ path("deletSpecialeWeekend",{'idWeekend': i.idWeekend}) }}"><i class="icon_close_alt2"></i></a>

                                                </div>
                                            </td>

                                        </tr>
                                    {% endfor %}
                                    {{ knp_pagination_render(SpecialeWeekend) }}




                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.content -->
                </div>
                <div class="row">
                    <!-- left column -->
                    <div class="col-lg-12">
                        <!-- general form elements -->
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Ajouter un nouveau spéciale weekend</h3>
                            </div>
                            <!-- /.box-header -->
                            <!-- form start -->
                            {{ form_start(form) }}
                            <div class="box-body">
                                <div class="form-group">
                                    <div class="form-group">

                                        <div class="form-group">

                                            {{ form_label(form.weekendService) }}
                                            {{ form_widget(form.weekendService,{'attr':{'class':'form-control'}}) }}

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.jourWeekend) }}
                                        {{ form_widget(form.jourWeekend,{'attr':{'class':'form-control'}}) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.horaire) }}
                                        {{ form_widget(form.horaire,{'attr':{'class':'form-control'}}) }}
                                    </div>
                                <!-- /.box-body -->
                                {{ form_end(form) }}
                                <div>
                                    <button type="submit" class="btn btn-primary">Ajouter</button>
                                </div>

                            </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.row -->
            </section>
            <!-- /.row -->
        {% endblock %}

