{% extends '::baseAdmin.html.twig' %}
        {% block content %}
            <section class="content-header">
                <h1>
                    Gestion speciale weekend
                    <small>Preview sample</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li><a href="#">Gestion</a></li>
                    <li class="active">Gestion speciale weekend</li>
                </ol>
            </section>
            <!-- Main row -->
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Les speciales weekend recherchés</h3>

                            </div>
                            <!-- /.box-header -->
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-hover">
                                    <tr>
                                        <th>Id SpWeekend</th>
                                        <th>Id Service</th>
                                        <th>Catégorie</th>
                                        <th>Nom</th>
                                        <th>Jour</th>
                                        <th>Horaire</th>
                                        <th><i class="icon_cogs"></i> Modifier/Supprimer </th>

                                    </tr>
                                    {% for i in spe %}
                                        <tr>
                                            <td>{{ i.idWeekend }}</td>
                                            <td>{{ i.weekendService.idService }}</td>
                                            <td>{{ i.weekendService.categorie }}</td>
                                            <td>{{ i.weekendService.libelle }}</td>
                                            <td>{{ i.jourWeekend }}</td>
                                            <td>{{ i.horaire|date('H:i') }}</td>
                                            <td>
                                                <div class="btn-group">
                                                    <a class="btn btn-primary" href="{{ path("editSpecialeWeekend",{'idWeekend': i.idWeekend}) }}"><i class="icon_plus_alt2"></i></a>
                                                    <a class="btn btn-danger" href="{{ path("deletSpecialeWeekend",{'idWeekend': i.idWeekend}) }}"><i class="icon_close_alt2"></i></a>

                                                </div>
                                            </td>

                                        </tr>
                                    {% endfor %}

                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.content -->
                </div>
                <div class="row">
                    <!-- left column -->
                    <div class="col-lg-12">
                        <!-- general form elements -->
                    </div>
                </div><!-- /.row -->
            </section>
            <!-- /.row -->
        {% endblock %}

