
{% extends "::base.html.twig" %}
{% block body %}
    <div class="main">
    <div class="shop_top">
        <div class="container">
            <div class="row shop_box-top">

<h1>Le programme pour ce weekend </h1>




                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tr>

                            <th>Catégorie</th>
                            <th>Nom</th>
                            <th>Image</th>
                            <th>Jour</th>
                            <th>Horaire</th>



                        </tr>
                        {% for i in all %}
                            <tr>

                                <td>{{ i.weekendService.categorie }}</td>
                                <td>{{ i.weekendService.libelle }}</td>
                                <td><div style="" >
                                        <a> <img  src="{{asset ('/photo_membre/' ~ i.weekendService.imageService ~ '')}}"  class="img-cadre" width="50"></a>
                                    </div></td>
                                <td>{{ i.jourWeekend }}</td>
                                <td>{{ i.horaire|date('H:i') }}</td>
                                <td>

                                </td>

                            </tr>
                        {% endfor %}


                    </table>
                </div>

                <div class="row">
                </div>
            </div>
        </div>
    </div>

{% endblock %}