{% trans_default_domain 'FOSUserBundle' %}
<div class="main">
    <div class="shop_top">
        <div class="container">
{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
            <div class="register-top-grid">
                <h3>Modifier vos informations</h3>
                <div>
                    <span>{{ form_label(form.username, "Nom utilisateur") }}<label>*</label></span>
                    {{ form_widget(form.username) }}
                </div>
                <div>
                    <span>{{ form_label(form.email, "Email") }}<label>*</label></span>
                    {{ form_widget(form.email) }}
                </div>
                </div>
            <div class="register-bottom-grid">
            <div class="button1">
                <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
            </div>
            </div>
                <div class="clear"></div>
            </div>
        {{ form_end(form) }}
        </div>
    </div>
