{% trans_default_domain 'FOSUserBundle' %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<div class="r-bg" >
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<div style="background-color:lightgrey  ">
   <!-- <img  src="{{asset ('/famicityRefaireIntegration2.0all/famicity5/web/templates/images/notifiction.png')}}"  width="200" style="margin-left: 32px">-->
<ul>
    <img src="{{ asset('templates/images/unnamed.png')}}" class="img-responsive" alt="" width="20px"/>
           {{ mgilet_notification_render({ 'display': 'dropdown', 'seen': true }) }}

</ul>


    <div class="container" style="margin-left: 40%" >
                    <H1><div style="margin-left:3%">VOTRE PROFIL</div></H1>
                    <img  src="{{asset ('/famicityRefaireIntegration2.0all/famicity5/web/photo_membre/' ~ app.user.image ~ '')}}"  width="200" style="margin-left: 32px">
                    <h3 style="padding-left: 25px">Bienvenue {{ user.username }}</h3>
                    <ul class="car-detail-info-list">
                        <li style="padding-left: 25px"><strong>Nom d'utilisateur: </strong>{{ user.username }}    </li>
                        <li style="padding-left: 25px"><strong>Nom de Famille : </strong>{{ user.Nom }}    </li>
                        <li style="padding-left: 25px"><strong>Email:</strong>{{ user.email }}</li>
                        <li style="padding-left: 25px"><a href="{{ path('fos_user_profile_edit') }}"> Modifier vos coordonnés </a> </li>
                        <li style="padding-left: 25px"> <a href="{{ path('fos_user_change_password') }}" >Modifier mot de passe</a></li>
                        <li style="padding-left: 25px"> <a href="{{ path('listres') }}" >Afficher mes réservations</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>


    <div class="fos_user_user_show">
        <p></p>

    </div>
</div>