<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% extends "::base.html.twig" %}
{% block body %}
<body>
<div class="banner">
    <!-- start slider -->
    <div id="fwslider">
        <div class="slider_container">
            <div class="slide">
                <!-- Slide image -->
                <img src="{{ asset('templates/images/slide01.jpg') }}" class="img-responsive" alt=""/>
                <!-- /Slide image -->
                <!-- Texts container -->
                <div class="slide_content">
                    <div class="slide_content_wrap">
                        <!-- Text title -->
                        <!--h1 class="title">Run Over<br>Everything</h1-->
                        <!-- /Text title -->
                        <!--div class="button"><a href="#">See Details</a></div-->
                    </div>
                </div>
                <!-- /Texts container -->
            </div>
            <!-- /Duplicate to create more slides -->
            <div class="slide">
                <img src="{{ asset('templates/images/slide04.jpg') }}" class="img-responsive" alt=""/>
                <div class="slide_content">
                    <div class="slide_content_wrap">
                        <!--h1 class="title">Run Over<br>Everything</h1-->
                        <!--div class="button"><a href="#">See Details</a></div-->
                    </div>
                </div>
            </div>
            <!--/slide -->
            <!-- /Duplicate to create more slides -->
            <div class="slide">
                <img src="{{ asset('templates/images/slide05.jpg') }}" class="img-responsive" alt=""/>
                <div class="slide_content">
                    <div class="slide_content_wrap">
                        <!--h1 class="title">Run Over<br>Everything</h1-->
                        <!--div class="button"><a href="#">See Details</a></div-->
                    </div>
                </div>
            </div>
            <!--/slide -->
        </div>
        <div class="timers"></div>
        <div class="slidePrev"><span></span></div>
        <div class="slideNext"><span></span></div>
    </div>
    <!--/slider -->
</div>
<div class="main">
    <div class="content-top">
        <h2>SPECIAL WEEKEND</h2>
        <div class="row">
            <div class="col-md-3 top_box">
                <div class="view view-ninth">
                    <a href="#">
                        <img src="{{ asset('templates/images/sortie11.jpg') }}" class="img-responsive" alt=""/>
                        <div class="mask mask-1"> </div>
                        <div class="mask mask-2"> </div>
                        <div class="content">
                            <h2> DIMANCHE 5 FEVRIER</h2>
                            <p> PARC NATUREL RÉGIONAL DU DOUBS</p>
                        </div>
                    </a> </div>
                <!--h4 class="m_4"><a href="#">Une rivière de loisirs</a></h4>
                <p-- class="m_5">Des Brenets au Saut-du-Doubs, en passant par les Franches-Montagne, le Parc du Doubs et son écrin de nature sauvage offrent un vaste terrain de jeu pour les randonneurs et les amateurs de loisirs en plein air. Et au milieu coule une rivière sauvage..</p-->
            </div>
            <div class="col-md-3 top_box">
                <div class="view view-ninth"><a href="#">
                        <img src="{{ asset('templates/images/sortie12.jpg') }}" class="img-responsive" alt=""/>
                        <div class="mask mask-1"> </div>
                        <div class="mask mask-2"> </div>
                        <div class="content">
                            <h2>DIMANCHE 5 FEVRIER</h2>
                            <p>Une promotion exceptionnelle pour les vacances !</p>
                        </div>
                    </a> </div>
                <!--h4 class="m_4"><a href="#">Profitez de 20% de reduction</a></h4>
                <p class="m_5">A l'heure des bilans de l'année écoulée et de l'enthousiasme tout frais des premiers jours de la nouvelle, voici 5 bonnes résolutions et 20 idées pour sortir du train-train et commencer 2017 sous les meilleurs auspices.</p-->
            </div>
            <div class="col-md-3 top_box">
                <div class="view view-ninth"><a href="#">
                        <img src="{{ asset('templates/images/sortie13.jpg') }}" class="img-responsive" alt=""/>
                        <div class="mask mask-1"> </div>
                        <div class="mask mask-2"> </div>
                        <div class="content">
                            <h2>DIMANCHE 5 FEVRIER</h2>
                            <p>Parc d'attractions dédié au Petit Prince de St-Exupéry</p>
                        </div>
                    </a> </div>
                <!--h4 class="m_4"><a href="#">Cette année, je le fais !</a></h4>
                <p class="m_5">A Prince-Park, le tour de l’Europe se vit également dans l’assiette grâce à une offre culinaire qui se décline au gré des quartiers thématiques. Avec une septantaine d’adresses (seize dans le Resort), des fast-foods aux restaurants à la carte en passant par la restauration à l’emporter, il y en a pour toutes les bourses et tous les goûts.</p-->
            </div>
            <div class="col-md-3 top_box">
                <div class="view view-ninth"><a href="#">
                        <img src="{{ asset('templates/images/sortie4.jpg') }}" class="img-responsive" alt=""/>
                        <div class="mask mask-1"> </div>
                        <div class="mask mask-2"> </div>
                        <div class="content">
                            <h2>DIMANCHE 5 FEVRIER</h2>
                            <p>L'aventure, c'est l'aventure !</p>
                        </div>
                    </a> </div>
                <!--h4 class="m_4"><a href="#">Le parc d'attractions familial préféré d'Europe</a></h4>
                <p class="m_5">Entre Bâle et Strasbourg - à 3 heures en voiture depuis Lausanne - le parc de loisirs Europa-Park propose des attractions et du divertissement pour toute la famille en recréant la carte de l'Europe, façon fun et frissons.</p-->
            </div>
        </div>
        <br>
        <br>
        <br>
        <h2>SORTIR EN FAMILLE</h2>
    </div>
</div>
<div class="content-bottom">
    <div class="container">
        <div class="row content_bottom-text">
            <div class="col-md-7">
                <h3>TOP 100 DES ACTIVITÉS GRATUITES <br>EN SUISSE ROMANDE</h3>
                <p class="m_1"> Qui ne rêve pas de passer du bon temps dans notre (pas si) chère Suisse romande sans bourse délier? Sites naturels d’exception, balades ludiques, musées, animaux de la ferme, jeux… </p>
                <p class="m_2">Famicity vous livre ses bons plans pour se détendre en famille sans se ruiner. Sortez malin !</p>
            </div>
        </div>
    </div>
</div>
<div class="features">
    <div class="container">
        <h3 class="m_3">BON PLAN</h3>
        <div class="row">
            <div class="col-md-3 top_box">
                <div class="view view-ninth">
                    <a href="#">
                        <img src="{{ asset('templates/images/bp2.jpg') }}" class="img-responsive" alt=""/>
                        <div class="mask mask-1"> </div>
                        <div class="mask mask-2"> </div>
                        <div class="content">
                            <h2>OFFRE SPECIAL</h2>
                            <p> PARC NATUREL RÉGIONAL DU DOUBS</p>
                        </div>
                    </a> </div>
                <h4 class="m_4"><a href="#">Une rivière de loisirs</a></h4>
                <p class="m_5">Des Brenets au Saut-du-Doubs, en passant par les Franches-Montagne, le Parc du Doubs et son écrin de nature sauvage offrent un vaste terrain de jeu pour les randonneurs et les amateurs de loisirs en plein air. Et au milieu coule une rivière sauvage..</p>
            </div>
            <div class="col-md-3 top_box">
                <div class="view view-ninth"><a href="#">
                        <img src="{{ asset('templates/images/bp03.jpg') }}" class="img-responsive" alt=""/>
                        <div class="mask mask-1"> </div>
                        <div class="mask mask-2"> </div>
                        <div class="content">
                            <h2>Parc Sousse</h2>
                            <p>Une promotion exceptionnel pour les vacances !</p>
                        </div>
                    </a> </div>
                <h4 class="m_4"><a href="#">Profitez de 20% de reduction</a></h4>
                <p class="m_5">A l'heure des bilans de l'année écoulée et de l'enthousiasme tout frais des premiers jours de la nouvelle, voici 5 bonnes résolutions et 20 idées pour sortir du train-train et commencer 2017 sous les meilleurs auspices.</p>
            </div>
            <div class="col-md-3 top_box">
                <div class="view view-ninth"><a href="#">
                        <img src="{{ asset('templates/images/cinema01.jpg') }}" class="img-responsive" alt=""/>
                        <div class="mask mask-1"> </div>
                        <div class="mask mask-2"> </div>
                        <div class="content">
                            <h2>BONNES RÉSOLUTIONS 2017</h2>
                            <p>Parc d'attractions dédié au Petit Prince de St-Exupéry</p>
                        </div>
                    </a> </div>
                <h4 class="m_4"><a href="#">Cette année, je le fais !</a></h4>
                <p class="m_5">A Prince-Park, le tour de l’Europe se vit également dans l’assiette grâce à une offre culinaire qui se décline au gré des quartiers thématiques. Avec une septantaine d’adresses (seize dans le Resort), des fast-foods aux restaurants à la carte en passant par la restauration à l’emporter, il y en a pour toutes les bourses et tous les goûts.</p>
            </div>
            <div class="col-md-3 top_box">
                <div class="view view-ninth"><a href="#">
                        <img src="{{ asset('templates/images/bp04.jpg') }}" class="img-responsive" alt=""/>
                        <div class="mask mask-1"> </div>
                        <div class="mask mask-2"> </div>
                        <div class="content">
                            <h2>EUROPA-PARK</h2>
                            <p>L'aventure, c'est l'aventure !</p>
                        </div>
                    </a> </div>
                <h4 class="m_4"><a href="#">Le parc d'attractions familial préféré d'Europe</a></h4>
                <p class="m_5">Entre Bâle et Strasbourg - à 3 heures en voiture depuis Lausanne - le parc de loisirs Europa-Park propose des attractions et du divertissement pour toute la famille en recréant la carte de l'Europe, façon fun et frissons.</p>
            </div>
        </div>
    </div>
</div>


</body>
{% endblock %}

