{% trans_default_domain 'FOSUserBundle' %}
<div class="main">
    <div class="shop_top">
        <div class="container">
            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

            <div class="register-top-grid">
                <h3>INFORMATIONS PERSONNELLES</h3>
                <div>
                    <span>{{ form_label(form.username, "Prenom") }}<label>*</label></span>
                    {{ form_widget(form.username) }}
                </div>
                <div>
                    <span>{{ form_label(form.Nom, "Nom de Famille") }}<label>*</label></span>
                    {{ form_widget(form.Nom) }}
                </div>
                <div>
                    <span>{{ form_label(form.email, "Email") }}<label>*</label></span>
                    {{ form_widget(form.email) }}
                </div>

                <div class="clear"> </div>
            </div>
            <div class="clear"> </div>
            <div class="register-bottom-grid">
                <h3>INFORMATION DE CONNEXION</h3>
                <div>
                    <span>{{ form_label(form.plainPassword.first, "Mot de passe") }}<label>*</label></span>
                    {{ form_widget(form.plainPassword.first) }}
                </div>
                <div>
                    <span>{{ form_label(form.plainPassword.second, "Confirmer mot de passe") }}<label>*</label></span>
                    {{ form_widget(form.plainPassword.second) }}
                </div>
                <div class="form-group">

                    <label for="exampleInputFile"></label>
                    {{ form_widget(form.image) }}
                </div>

                <div class="clear"> </div>
            </div>
            <div class="clear"> </div>
            <div>
                <input type="submit" value="{{ 'registration.submit'|trans }}" />
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>








