{% extends '::baseAdmin.html.twig' %}
        {% block content %}
<section class="content-header">
    <h1>
        Gestion reclamation
        <small>Preview sample</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Gestion</a></li>
        <li class="active">Gestion reclamation</li>
    </ol>
</section>
<!-- Main row -->
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <div class="box-header">
                    <h3 class="box-title"></h3>

                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

{% block body %}
    <h1>Modifier une réclamation</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}



{% endblock %}



</section>
            <td>

            </td>
            </tr>

            <!-- /.row -->
        {% endblock %}