{% extends 'base.html.twig' %}

{% block body %}
    <center>
        <h1 style="color: #9f191f">Merci de nous avoir contacter, nous allons vous répondre dans les plus bref délai </h1>

        <a href="{{ path('afficher') }}">Voir votre reclamation</a>





    </center>
{% endblock %}




