{% extends 'base.html.twig' %}

{% block body %}
    <center>

        <h1>Reclamation
            {{ form_start(form) }}
            <fieldset><legend></legend>
                <table>
                    <tr><td>Nom</td><td> {{ form_widget(form.nom) }}</td></tr>
                    <tr><td>Sujet</td><td> {{ form_widget(form.sujet) }}</td></tr>
                    <tr style="display: none"><td>Etat</td><td> {{ form_widget(form.etat) }}</td></tr>
                    <tr><td>Nature</td><td> {{ form_widget(form.nature) }}</td></tr>
                    <tr><td>Niveau</td><td> {{ form_widget(form.level) }}</td></tr>
                    <tr><td>Email</td><td> {{ form_widget(form.email) }}</td></tr>
                    <tr style="display: none"><td>Nature</td><td> {{ form_widget(form.date) }}</td></tr>


                    <tr><td>Description</td><td> {{ form_widget(form.description) }}</td></tr>


                </table>
                <input type="submit" value="Envoyer" />
            </fieldset>
            {{ form_end(form) }}



    </center>
{% endblock %}




