{% extends '::baseAdmin.html.twig' %}
        {% block content %}
            <section class="content-header">
                <h1>
                    Gestion Evenement
                    <small>Preview sample</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li><a href="#">Gestion</a></li>
                    <li class="active">Gestion Evenement</li>
                </ol>
            </section>
            <!-- Main row -->
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Table des services</h3>

                                <div class="box-tools">
                                        <div class="input-group input-group-sm" style="width: 150px;">
                                            <input type="text" name="nom" class="form-control pull-right" placeholder="Search">
                                            <div class="input-group-btn">
                                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-hover">
                                    <tr>
                                        <th>ID</th>
                                        <th>Etat evenement</th>
                                        <th>Nom Evenement</th>
                                        <th>Horaire de l'evenement</th>
                                        <th>Famille Participante</th>
                                        <th>Service</th>
                                    </tr>
                                    {% for i in f %}
                                        <tr>

                                            <td>{{ i.idPlaning }}</td>
                                            <td>{{ i.etatEvent }}</td>
                                            <td>{{ i.nomEvenement }}</td>
                                            <td>{{ i.horairePlaning | date('Y-m-d H:i:s') }}</td>
                                            <td>{{ i.planingFamille.Nom }}</td>
                                            <td>{{ i.planingService.libelle }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.content -->
                </div>
            </section>
            <!-- /.row -->
        {% endblock %}