{% extends 'base.html.twig' %}

{% block body %}

<h1>Réclamation</h1>
    <table class="table table-striped table-advance table-hover">

        <tbody>
        <tr>
            <th> Nom</th>
            <th> Sujet</th>
            <th> Description</th>
            <th> Action</th>

        </tr>
        {% for oumou in modele %}
        <tr><td>{{ oumou.nom }}</td><td>{{ oumou.sujet }}</td><td>{{ oumou.description }}</td>            <td><a href="{{ path('afficher') }}">Modifier</a> </td>
            <td><div class="btn-group">

                </div></td></tr>
        </tbody>
        {% endfor %}
    </table>

            {% endblock %}