{% extends "::base.html.twig" %}
{% block body %}
<!DOCTYPE HTML>
<html>
<head>
    <title>Free Snow Bootstrap Website Template | Home :: w3layouts</title>
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="js/jquery.min.js"></script>
    <!--<script src="js/jquery.easydropdown.js"></script>-->
    <!--start slider -->
    <link rel="stylesheet" href="css/fwslider.css" media="all">
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/fwslider.js"></script>
    <!--end slider -->
    <script type="text/javascript">
        $(document).ready(function() {
            $(".dropdown img.flag").addClass("flagvisibility");

            $(".dropdown dt a").click(function() {
                $(".dropdown dd ul").toggle();
            });

            $(".dropdown dd ul li a").click(function() {
                var text = $(this).html();
                $(".dropdown dt a span").html(text);
                $(".dropdown dd ul").hide();
                $("#result").html("Selected value is: " + getSelectedValue("sample"));
            });

            function getSelectedValue(id) {
                return $("#" + id).find("dt a span.value").html();
            }

            $(document).bind('click', function(e) {
                var $clicked = $(e.target);
                if (! $clicked.parents().hasClass("dropdown"))
                    $(".dropdown dd ul").hide();
            });


            $("#flagSwitcher").click(function() {
                $(".dropdown img.flag").toggleClass("flagvisibility");
            });
        });
    </script>
</head>
<body>
<div class="banner">
    <!-- start slider -->
<div class="features">
    <div class="container">
        <h3 class="m_3">Quizz</h3>
        <div class="row">
            <tr>
                <td>
                    <div class="col-md-3 top_box">
                        <div class="view view-ninth"><a href="{{ path('passerQuizz1') }}">
                                <img src="{{ asset('templates/images/image1.jpg') }}" class="img-responsive" alt=""/>
                                <div class="mask mask-1"> </div>
                                <div class="mask mask-2"> </div>
                                <div class="content">
                                    <h2>Quizz 1</h2>
                                    <p>Passez un Quizz pour ganger des points supplémentaires</p>
                                </div>
                            </a></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="col-md-3 top_box">
                        <div class="view view-ninth"><a href="{{ path('passerQuizz2') }}">
                                <img src="{{ asset('templates/images/image2.jpg') }}" class="img-responsive" alt=""/>
                                <div class="mask mask-1"> </div>
                                <div class="mask mask-2"> </div>
                                <div class="content">
                                    <h2>Quizz 2</h2>
                                    <p>Passez un Quizz pour ganger des points supplémentaires</p>

                                </div>
                            </a></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="col-md-3 top_box">
                        <div class="view view-ninth"><a href="{{ path('passerQuizz3') }}">
                                <img src="{{ asset('templates/images/image3.jpg') }}" class="img-responsive" alt=""/>
                                <div class="mask mask-1"> </div>
                                <div class="mask mask-2"> </div>
                                <div class="content">
                                    <h2>Quizz 3</h2>
                                    <p>Passez un Quizz pour ganger des points supplémentaires</p>

                                </div>
                            </a></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="col-md-3 top_box">
                        <div class="view view-ninth"><a href="{{ path('passerQuizz4') }}">
                                <img src="{{ asset('templates/images/image4.jpg') }}" class="img-responsive" alt=""/>
                                <div class="mask mask-1"> </div>
                                <div class="mask mask-2"> </div>
                                <div class="content">
                                    <h2>Quizz 4</h2>
                                    <p>Passez un Quizz pour ganger des points supplémentaires</p>

                                </div>
                            </a></div>
                    </div>
                </td>
            </tr>
    </div>
</div>
</div>
</div>
</body>
</html>

{% endblock %}