{% extends "::base.html.twig" %}
{% block body %}
    <div class="main">
        <div class="shop_top">
            <div class="container">
                <div class="row shop_box-top">
    {% for i in promos %}
        {% if i.etat == 'Disponible' %}
                    <div class="col-md-3 shop_box"><a href="#">
                            <a> <img  src="{{asset ('/famicityRefaireIntegration2.0all/famicity5/web/imageService/' ~ i.idService.imageService ~ '')}}"  class="img-cadre" width="260"></a>
                            <span class="new-box">
						<span class="new-label">{{ i.idService.categorie }}</span>
					</span>
                            <span class="sale-box">
						<span class="sale-label">REDUCTION {{ i.taux }} %</span>
					</span>
                            <div class="shop_desc">
                                <!--h3><a href="#">aliquam volutp</a></h3>
                                <p>Lorem ipsum consectetuer adipiscing </p>
                                <span class="actual">$12.00</span><br-->
                                <ul class="buttons">
                                    <li class="shop_btn"><a href="{{ path("single",{'idService': i.idService.idService}) }}">Voir plus</a></li>
                                    <div class="clear"> </div>
                                    <div><h4>{{ i.idService.libelle }}</h4></div>
                                </ul>
                            </div>
                        </a></div>
            {% endif %}
    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}