{% extends "::base.html.twig" %}
{% block body %}
<div class="main">
    <div class="shop_top">
        <div class="container">
            <div class="row ex_box">
                <h3 class="m_2">Our Experiance</h3>
                <div class="col-md-4 team1">
                    <div class="img_section magnifier2">
                        <a class="fancybox" href="images/e1.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="images/e1.jpg" class="img-responsive" alt=""><span> </span>
                            <div class="img_section_txt">
                                Duis aute irure dolor
                            </div>
                        </a></div>
                </div>
                <div class="col-md-4 team1">
                    <div class="img_section magnifier2">
                        <a class="fancybox" href="images/e2.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="images/e2.jpg" class="img-responsive" alt=""><span> </span>
                            <div class="img_section_txt">
                                Duis aute irure dolor
                            </div>
                        </a></div>
                </div>
                <div class="col-md-4 team1">
                    <div class="img_section magnifier2">
                        <a class="fancybox" href="images/e3.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="images/e3.jpg" class="img-responsive" alt=""><span> </span>
                            <div class="img_section_txt">
                                Duis aute irure dolor
                            </div>
                        </a></div>
                </div>
            </div>
            <div class="row ex_box">
                <div class="col-md-4 team1">
                    <div class="img_section magnifier2">
                        <a class="fancybox" href="images/e4.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="images/e4.jpg" class="img-responsive" alt=""><span> </span>
                            <div class="img_section_txt">
                                Duis aute irure dolor
                            </div>
                        </a></div>
                </div>
                <div class="col-md-4 team1">
                    <div class="img_section magnifier2">
                        <a class="fancybox" href="images/e5.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="images/e5.jpg" class="img-responsive" alt=""><span> </span>
                            <div class="img_section_txt">
                                Duis aute irure dolor
                            </div>
                        </a></div>
                </div>
                <div class="col-md-4 team1">
                    <div class="img_section magnifier2">
                        <a class="fancybox" href="images/e6.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="images/e6.jpg" class="img-responsive" alt=""><span> </span>
                            <div class="img_section_txt">
                                Duis aute irure dolor
                            </div>
                        </a></div>
                </div>
            </div>
            <div class="row ex1_box">
                <div class="col-md-4 team1">
                    <div class="img_section magnifier2">
                        <a class="fancybox" href="images/e7.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="images/e7.jpg" class="img-responsive" alt=""><span> </span>
                            <div class="img_section_txt">
                                Duis aute irure dolor
                            </div>
                        </a></div>
                </div>
                <div class="col-md-4 team1">
                    <div class="img_section magnifier2">
                        <a class="fancybox" href="images/e8.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="images/e8.jpg" class="img-responsive" alt=""><span> </span>
                            <div class="img_section_txt">
                                Duis aute irure dolor
                            </div>
                        </a></div>
                </div>
                <div class="col-md-4 team1">
                    <div class="img_section magnifier2">
                        <a class="fancybox" href="images/e9.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="images/e9.jpg" class="img-responsive" alt=""><span> </span>
                            <div class="img_section_txt">
                                Duis aute irure dolor
                            </div>
                        </a></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}