{% extends '::baseAdmin.html.twig' %}
        {% block content %}
<section class="content-header">
    <h1>
        Gestion reclamation
        <small>Preview sample</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Gestion</a></li>
        <li class="active">Gestion reclamation</li>
    </ol>
</section>
<!-- Main row -->
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <div class="box-header">
                    <h3 class="box-title">Table des réclamations</h3>


                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <table class="table table-striped table-advance table-hover">

                    <tbody>
                    <tr>
                        <th> Nom</th>
                        <th> Sujet</th>
                        <th> Nature</th>
                        <th> Level</th>
                        <th> Email</th>
                        <th> Date </th>
                        <th> Etat </th>
                        <th> Description</th>
                        <th> Action</th>
                    </tr>
                    {% for oumou in modele %}
                    <tr><td>{{ oumou.nom }}</td><td>{{ oumou.sujet }}</td><td>{{ oumou.nature }}</td><td>{{ oumou.level }}</td><td>{{ oumou.email }}</td><td>{{ oumou.date|date }}</td><td>{{ oumou.etat }}</td><td>{{ oumou.description }}</td><td><div class="btn-group">
                                <a class="btn btn-primary" href="{{ path('reclamation_edit',{'id':oumou.id}) }}"><i class="icon_plus_alt2"></i></a>
                                <a class="btn btn-danger" href="{{ path('supprimer_Reclamation',{'id':oumou.id}) }}"><i class="icon_close_alt2"></i></a>

                            </div></td></tr>
                    </tbody>
                    {% endfor %}
                </table>

                <a class="btn btn-primary" href="{{ path('traitement')}}"><i class="icon_plus_alt2"></i>Consulter</a>
                <a class="btn btn-primary" href="{{ path('my_app_mail_homepage')}}"><i class="icon_plus_alt2"></i>Repondre</a>

            </section>
            <td>

            </td>
            </tr>

            <!-- /.row -->
            {% endblock %}











