{% extends '::baseAdmin.html.twig' %}
        {% block content %}
            <section class="content-header">
                <h1>
                    Gestion reservation
                    <small>Preview sample</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li><a href="#">Gestion</a></li>
                    <li class="active">Gestion reservation</li>
                </ol>
            </section>
            <!-- Main row -->
            <section class="content">
                <div class="row">
                    <div class="col-lg-12">
                        <section class="panel">
                            <form method="POST">

                            <div class="box-header">
                                <h3 class="box-title">Table des reservations</h3>

                                <div class="box-tools">
                                    <div class="input-group input-group-sm" style="width: 150px;">
                                        <input type="text" name="ci" class="form-control pull-right" placeholder="Search">

                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </form>
                            <table class="table table-striped table-advance table-hover">
                                <body>
                                <tr>
                                    <th><i class="icon_profile"></i>ID Reservation</th>
                                    <th><i class="icon_profile"></i>Service</th>
                                    <th><i class="icon_calendar"></i> Nom de l'utilisateur</th>
                                    <th><i class="icon_mail_alt"></i> nombre de point</th>
                                    <th><i class="icon_mail_alt"></i> Nombre de place reservé</th>
                                    <th><i class="icon_pin_alt"></i> Date de reservation</th>
                                    <th><i class="icon_pin_alt"></i> Date dont laquelle la reservation a été effectué</th>
                                    <th><i class="icon_pin_alt"></i> Prix initial</th>
                                    <th><i class="icon_pin_alt"></i> Prix après reduction</th>
                                    <th><i class="icon_pin_alt"></i> Montant restant</th>
                                    <th><i class="icon_pin_alt"></i> supprimer</th>
                                </tr>
                                    {% for ca in res  %}
                                <tr>
                                    <td>{{ca.idReservation}}</td>
                                    <td>{{ca.iService.libelle}}</td>
                                    <td>{{ca.informationUser}}</td>
                                    <td>{{ca.informationUser.point}}</td>
                                    <td>{{ca.nbPlacesreserve}}</td>
                                    <td>{{ca.dateReservation | date('Y-m-d') }}</td>
                                    <td>{{ ca.dateC | date('Y-m-d') }}</td>
                                    <td>{{ca.iService.prix}}</td>
                                    <td> {% if ca.promotion %}
                                     {{ ca.promotion.prixpromo }}
                                    {% endif %}</td>
                                    <td>{{ca.prixR}}</td>
                                    <td> <a href="{{ path('delete_res_ad',{'id':ca.idReservation}) }}">supprimer</a></td>
                                </tr>
                                    {% endfor %}
                                {{ knp_pagination_render(res) }}

                                </body>
                            </table>
                            <div class="row">
                            </div>
                        </section>
                        <!-- /.row -->
        {% endblock %}