{% extends '::baseAdmin.html.twig' %}
        {% block content %}
            <section class="content-header">
                <h1>
                    Gestion promotion
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li><a href="#">Gestion</a></li>
                    <li class="active">Gestion promotion</li>
                </ol>
            </section>
            <!-- Main row -->
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Table des promotions</h3>

                                <div class="box-tools">
                                   <form method="post" action="gestionPromotion" name="form1">
                                    <div class="input-group input-group-sm" style="width: 150px;">
                                        <input type="text" name="nom" class="form-control pull-right" placeholder="Search">

                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                   </form>

                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-hover">
                                    <tr>
                                        <th>ID</th>
                                        <th>Service</th>
                                        <th>Taux</th>
                                        <th>Etat</th>
                                        <th>Description</th>
                                        <th>Prix</th>
                                        <th><i class="icon_cogs"></i> Action</th>
                                        <th>Supprimer</th>
                                    </tr>
            {% for i in promos %}
                                    <tr>
                                        <td>{{ i.idPromo }}</td>
                                        <td>{{ i.idService.idService }}</td>
                                        <td>{{ i.taux }}</td>
                                        <td>
                                            {% if i.etat == 'Indisponible' %}
                                            <span class="label label-danger">{{ i.etat }}</span></td>
                                            {% else %}
                                                <span class="label label-success">{{ i.etat }}</span></td>
                                            {% endif %}
                                        <td>{{ i.description }}</td>
                                        <td>{{ i.prixPromo }}</td>
                                        <td>
                                            <div class="btn-group">
                                                <a class="btn btn-primary" href="{{ path("editPromo",{'idPromo': i.idPromo}) }}"><i class="icon_plus_alt2"></i></a>
                                                <a class="btn btn-success" href="{{ path("dispoPromo",{'idPromo': i.idPromo}) }}"><i class="icon_check_alt2"></i></a>
                                                <a class="btn btn-danger" href="{{ path("indispoPromo",{'idPromo': i.idPromo}) }}"><i class="icon_close_alt2"></i></a>
                                            </div>
                                        </td>
                                        <td><a class="btn btn-danger" href="{{ path("deletPromo",{'idPromo': i.idPromo}) }}"><i class="icon_close_alt2"></i></a></td>
                                    </tr>
            {% endfor %}
                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                        <div class="navigation">
                            {{ knp_pagination_render(promos)}}
                        </div>
                    </div>
                    <!-- /.content -->
                </div>
                <div class="row">
                    <!-- left column -->
                    <div class="col-lg-12">
                        <!-- general form elements -->
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Ajouter une nouvelle promotion</h3>
                            </div>
                            <!-- /.box-header -->
                            <!-- form start -->
                            {{ form_start(form) }}
                            <div class="box-body">
                                <div class="form-group">
                                    {{ form_label(form.description) }}
                                    {{ form_widget(form.description,{'attr':{'class':'form-control'}}) }}
                                </div>
                                <div class="input-group">
                                    {{ form_label(form.taux) }}
                                    {{ form_widget(form.taux,{'attr':{'class':'form-control'}}) }}
                                </div><br>
                                <SELECT name="Service" id="TypePret" size="1" class="btn btn-primary">
                                {% for i in services %}
                                    <OPTION value = '{{ i.idService }}'> {{ i.libelle }}</OPTION>
                                        {% endfor %}
                                </SELECT>

                                <!-- /.box-body -->
                                <button type="submit" class="btn btn-primary">Ajouter</button>

                                {{ form_end(form) }}
                            </div>
                                    <!-- /.row -->
                            </div>
                        </div>
                    </div>
            </section>

            <!-- /.row -->
        {% endblock %}