{% extends '::baseAdmin.html.twig' %}
        {% block content %}
            <section class="content-header">
                <h1>
                    Gestion Famille
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li><a href="#">Gestion</a></li>
                    <li class="active">Gestion des familles </li>
                </ol>
            </section>
            <!-- Main row -->
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Table des Familles </h3>

                                <div class="box-tools">
                                    <div class="input-group input-group-sm" style="width: 150px;">
                                        <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-hover">
                                    <tr>
                                        <th>ID</th>
                                        <th>Nom</th>
                                        <TH> Photo </TH>
                                        <th><i class="icon_cogs"></i> Action</th>
                                    </tr>
                                    {% for fam in familles %}
                                    <tr>


                                        <td> {{ fam.id  }}</td>
                                        <td> {{ fam.nomdeFamille  }}</td>


                                        <td>
                                        <img  src="{{asset ('/famicityRefaireIntegration2.0all/famicity5/web/photo_membre/' ~ fam.nomdeFamille.image ~ '')}}"  class="img-cadre" width="100"> </td>


                                        <td>
                                            <div class="btn-group">
                                                <a class="btn btn-primary" href="#"><i class="icon_plus_alt2"></i></a>
                                                <a class="btn btn-danger" href="{{ path('supprimerFamille',{'id':fam.id}) }}"><i class="icon_close_alt2"></i></a>
                                            </div>
                                        </td>

                                    <tr>
                                        {% endfor %}
                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.content -->
                </div>
                <!-- /.row -->
            </section>
            <!-- /.row -->
        {% endblock %}