{% extends '::baseAdmin.html.twig' %}
        {% block content %}
            <section class="content-header">
                <h1>
                    Gestion actualite
                    <small>Preview sample</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li><a href="#">Gestion</a></li>
                    <li class="active">Gestion actualite</li>
                </ol>
            </section>
            <!-- Main row -->
            <section class="content">
                <div class="row">
                    <div class="col-lg-12">
                        <section class="panel">
                            <div class="box-header">
                                <h3 class="box-title">Table des plans</h3>

                                <div class="box-tools">
                                    <div class="input-group input-group-sm" style="width: 150px;">
                                        <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped table-advance table-hover">
                                <tbody>
                                <tr>
                                    <th><i class="icon_profile"></i> Plan</th>
                                    <th><i class="icon_calendar"></i> Date fin</th>
                                    <th><i class="icon_mail_alt"></i> Description</th>
                                    <th><i class="icon_pin_alt"></i> Lieux</th>
                                    <th><i class="icon_mobile"></i> Mobile</th>
                                    <th><i class="icon_cogs"></i> Action</th>
                                </tr>
                                <tr>
                                    <td>Angeline Mcclain</td>
                                    <td>2004-07-06</td>
                                    <td>dale@chief.info</td>
                                    <td>Rosser</td>
                                    <td>176-026-5992</td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-primary" href="#"><i class="icon_plus_alt2"></i></a>
                                            <a class="btn btn-danger" href="#"><i class="icon_close_alt2"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Sung Carlson</td>
                                    <td>2011-01-10</td>
                                    <td>ione.gisela@high.org</td>
                                    <td>Robert Lee</td>
                                    <td>724-639-4784</td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-primary" href="#"><i class="icon_plus_alt2"></i></a>
                                            <a class="btn btn-danger" href="#"><i class="icon_close_alt2"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Bryon Osborne</td>
                                    <td>2006-10-29</td>
                                    <td>sol.raleigh@language.edu</td>
                                    <td>York</td>
                                    <td>180-456-0056</td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-primary" href="#"><i class="icon_plus_alt2"></i></a>
                                            <a class="btn btn-danger" href="#"><i class="icon_close_alt2"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Dalia Marquez</td>
                                    <td>2011-12-15</td>
                                    <td>angeline.frieda@thick.com</td>
                                    <td>Alton</td>
                                    <td>690-601-1922</td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-primary" href="#"><i class="icon_plus_alt2"></i></a>
                                            <a class="btn btn-danger" href="#"><i class="icon_close_alt2"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Selina Fitzgerald</td>
                                    <td>2003-01-06</td>
                                    <td>moshe.mikel@parcelpart.info</td>
                                    <td>Waelder</td>
                                    <td>922-810-0915</td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-primary" href="#"><i class="icon_plus_alt2"></i></a>
                                            <a class="btn btn-danger" href="#"><i class="icon_close_alt2"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Abraham Avery</td>
                                    <td>2006-07-14</td>
                                    <td>harvey.jared@pullpump.org</td>
                                    <td>Harker Heights</td>
                                    <td>511-175-7115</td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-primary" href="#"><i class="icon_plus_alt2"></i></a>
                                            <a class="btn btn-danger" href="#"><i class="icon_close_alt2"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Caren Mcdowell</td>
                                    <td>2002-03-29</td>
                                    <td>valeria@hookhope.org</td>
                                    <td>Blackwell</td>
                                    <td>970-147-5550</td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-primary" href="#"><i class="icon_plus_alt2"></i></a>
                                            <a class="btn btn-danger" href="#"><i class="icon_close_alt2"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Owen Bingham</td>
                                    <td>2013-04-06</td>
                                    <td>thomas.christopher@firstfish.info</td>
                                    <td>Rule</td>
                                    <td>934-118-6046</td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-primary" href="#"><i class="icon_plus_alt2"></i></a>
                                            <a class="btn btn-danger" href="#"><i class="icon_close_alt2"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Ahmed Dean</td>
                                    <td>2008-03-19</td>
                                    <td>lakesha.geri.allene@recordred.com</td>
                                    <td>Darrouzett</td>
                                    <td>338-081-8817</td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-primary" href="#"><i class="icon_plus_alt2"></i></a>
                                            <a class="btn btn-danger" href="#"><i class="icon_close_alt2"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Mario Norris</td>
                                    <td>2010-02-08</td>
                                    <td>mildred@hour.info</td>
                                    <td>Amarillo</td>
                                    <td>945-547-5302</td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-primary" href="#"><i class="icon_plus_alt2"></i></a>
                                            <a class="btn btn-danger" href="#"><i class="icon_close_alt2"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                    </div>
                   
                </div>
                <div class="row">
                    <!-- left column -->
                    <div class="col-lg-12">
                        <!-- general form elements -->
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Ajouter un nouveau plan</h3>
                            </div>
                            <!-- /.box-header -->
                            <!-- form start -->
                            <form role="form">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Nom</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Nom du plan">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Lieux</label>
                                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Lieux">
                                    </div>
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input type="text"  class="form-control" placeholder="Prix">
                                        <span class="input-group-addon">.00</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputFile"></label>
                                        <input type="file" id="exampleInputFile">

                                    </div>
                                    <!-- /.box-body -->

                                    <div>
                                        <button type="submit" class="btn btn-primary">Ajouter</button>
                                    </div>
            </section>

            <!-- /.row -->
        {% endblock %}




