
{% extends '::baseAdmin.html.twig' %}
        {% block content %}
            <section class="content-header">
                <h1>
                    Gestion compte
                    <small>Preview sample</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li><a href="#">Gestion</a></li>
                    <li class="active">Gestion compte</li>
                </ol>
            </section>
            <!-- Main row -->
            <section class="content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="box box-default">
                            <div class="box-header with-border">
                                <i class="fa fa-warning"></i>

                                <h3 class="box-title">Alertes</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="alert alert-danger alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                                    Danger alert preview. This alert is dismissable.
                                </div>
                                <div class="alert alert-danger alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                                    Danger alert preview. This alert is dismissable. A wonderful serenity has taken possession of my entire
                                    soul, like these sweet mornings of spring which I enjoy with my whole heart.
                                </div>
                                <div class="alert alert-danger alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                                    Danger alert preview. This alert is dismissable.
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.col -->

                    <div class="col-md-6">
                        <div class="box box-default">
                            <div class="box-header with-border">
                                <i class="fa fa-bullhorn"></i>

                                <h3 class="box-title">Invitations</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="callout callout-info">
                                    <h4><i class="icon fa fa-info"></i> Nouvelle invitation</h4>

                                    <p>Follow the steps to continue to payment.</p>
                                </div>
                                <div class="callout callout-warning">
                                    <h4><i class="icon fa fa-warning"></i> Regroupement refuse</h4>

                                    <p>This is a yellow callout.</p>
                                </div>
                                <div class="callout callout-success">
                                    <h4><i class="icon fa fa-check"></i> Regroupement accepte</h4>

                                    <p>This is a green callout.</p>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
        {% endblock %}