{% extends "::base.html.twig" %}
{% block body %}
    <div class="main">
        <div class="shop_top">
            <div class="container">
                <div class="row shop_box-top">
                    {% for m in form %}
                        <div class="col-md-3 shop_box">
                            <img src="{{ asset('templates/images/eventf.jpg')}}" class="img-responsive" alt=""/>
                            <div class="shop_desc">
                                <p class="m_5">
                                <h6> Nom de l'évenement: {{m.nomEvenement }}</h6>
                                <h6> Date de l'évenement: {{m.horairePlaning | date('Y-m-d H:i:s') }}</h6>
                                <h6> Place: {{ m.planingService.libelle}}</h6>
                                <h6>  accompagné par famille: {{ m.planingFamille.Nom }}</h6>
                                <h6>  Etat: {{ m.etatEvent }}</h6>
                                </p>
                                <ul class="buttons">
                                    <li class="cart"><a href="{{ path('updateEvenement', {'idPlaning': m.idPlaning}) }}">Modifier</a></li>
                                    <li class="shop_btn"><a href="{{ path('deleteEvenement', {'idPlaning': m.idPlaning})}}" >Supprimer</a></li>
                                    <div class="clear"> </div>
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                </div></div>
        </div>
    </div>
{% endblock %}