{% extends "::base.html.twig" %}
{% block body %}
<div class="main">
    <div class="shop_top">
        <div class="container">

            <div class="row ex_box">
                <h3 class="m_2">FAMICITY..Membres famille</h3>
                {% for membre in membres %}
                <div class="col-md-4 team1" style="width: 20%">
                    <div class="img_section magnifier2">
                            <a> <img  src="{{asset ('/photo_membre/' ~ membre.image ~ '')}}"  class="img-cadre" width="150" height="180"></a>
                          <div class="img_section_txt" style="width: 74%">
                                {{ membre.username }}
                          </div>
                    </div>
                    <div class="clear"></div>
                </div>
                {% endfor %}



            </div>

        </div>
    </div>
</div>
{% endblock %}
