{% extends "::base.html.twig" %}
{% block body %}
<div class="features">
    <div class="container">
        <div class="row">
            {% for famille in familles %}
                <tr>
                    <td>
                        <div class="col-md-3 top_box">
                            <div class="view view-ninth">
                                    <img src="{{asset ('/photo_membre/' ~ famille.NomdeFamille.image ~ '')}}" class="img-responsive" alt=""/>
                                    <div class="mask mask-1"> </div>
                                    <div class="mask mask-2"> </div>
                                    <div class="content">
                                        <h2>Famille  </h2>
                                        <p>{{ famille.NomdeFamille.Nom }} </p>

                                    </div>
                                </div>
                            <h4 class="m_4"><a href="{{ path("MembresdeFamilles",{'id':famille.id}) }}">  Famille  {{ famille.NomdeFamille.Nom }}</a></h4>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <a href="{{ path('rejoindre',{'id':famille.id}) }}">   <input style="background-color: #407ab1;color: white" type="submit" value="Rejoindre" class="form-submit"/>
                                <a href="{{ path('famille_edit',{'id':famille.id}) }}"> <input style="background-color: #407ab1;color: white" type="submit" value="Modifier " /></a>
                                {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            <a href="{{ path('famille_new') }}"><input style="background-color: #407ab1;color: white;    MARGIN-TOP: 47%;
    MARGIN-LEFT: -58%;" type="submit" value="Create a new famille " /></a>

        </div>
    </div>
</div>
{% endblock %}
