{% extends "::base.html.twig" %}
{% block body %}
        <div class="row">
                <div class="box-header">
{{ idQ }}
                    <div class="box-tools">
                <!-- /.box-header -->
                                <form method="post" action="{{ path("resultatQuizz",{'idQ': idQ }) }}" name="form1">
                                    <div class="col-xs-12">
                                        <div>
                                            <h3 class="box-title" align="center">   Quizz</h3>
                                        </div>
                    <table class="table table-hover">
                        <tr>
                            <th>Question</th>
                            <th>Reponse</th>
                        </tr>
                        {% for i in question %}
                            <tr>
                                <td>{{ i.question }}</td>
                                <td><input type="radio" name="{{ i.idQuizz }}" value="1" >{{ i.reponse1 }}<br>
                                    <input type="radio" name="{{ i.idQuizz }}" value="2" >{{ i.reponse2 }}<br>
                                    <input type="radio" name="{{ i.idQuizz }}" value="3" >{{ i.reponse3 }}</td>
                            </tr>
                            {% endfor %}
                    </table>
                        <button type="submit" class="btn btn-default">Enregistrer<i class="fa fa-search"></i></button>
                    </form>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <div class="navigation">
            </div>
        </div>

{% endblock %}