{% extends '::baseAdmin.html.twig' %}
        {% block content %}
            <section class="content-header">
                <h1>
                    Quizz
                    <small>Preview sample</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li><a href="#">Gestion</a></li>
                    <li class="active">Gestion promotion</li>
                </ol>
            </section>
            <!-- Main row -->
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Table des questionn</h3>

                                <div class="box-tools">
                                    <form method="post" action="gestionPromotion" name="form1">
                                        <div class="input-group input-group-sm" style="width: 150px;">
                                            <input type="text" name="nom" class="form-control pull-right" placeholder="Search">

                                            <div class="input-group-btn">
                                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-hover">
                                    <tr>
                                        <th>ID</th>
                                        <th>Question</th>
                                        <th>Quizz</th>
                                        <th>Reponse1</th>
                                        <th>Reponse2t</th>
                                        <th>Reponse3</th>
                                        <th>Reponse Exacte</th>
                                        <th>Supprimer</th>
                                    </tr>
                                    {% for i in q %}
                                        <tr>
                                            <td>{{ i.idQuizz }}</td>
                                            <td>{{ i.question }}</td>
                                            <td>{{ i.quizz }}</td>
                                            <td>{{ i.reponse1 }}</td>
                                            <td>{{ i.reponse2 }}</td>
                                            <td>{{ i.reponse3 }}</td>
                                            <td>{{ i.reponse }}</td>
                                            <td><a class="btn btn-danger" href="{{ path("deletQuestion",{'idQuizz': i.idQuizz}) }}"><i class="icon_close_alt2"></i></a></td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                        <div class="navigation">
                            {{ knp_pagination_render(q)}}
                        </div>
                    </div>
                    <!-- /.content -->
                </div>
                <div class="row">
                    <!-- left column -->
                    <div class="col-lg-12">
                        <!-- general form elements -->
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Ajouter une nouvelle question</h3>
                            </div>
                            <!-- /.box-header -->
                            <!-- form start -->
                            {{ form_start(form) }}
                            <div class="box-body">
                                <div class="form-group">
                                    {{ form_label(form.question) }}
                                    {{ form_widget(form.question,{'attr':{'class':'form-control'}}) }}
                                </div>
                                <div class="input-group">
                                    {{ form_label(form.quizz) }}
                                    {{ form_widget(form.quizz,{'attr':{'class':'form-control'}}) }}
                                </div>
                                <div class="input-group">
                                    {{ form_label(form.reponse1) }}
                                    {{ form_widget(form.reponse1,{'attr':{'class':'form-control'}}) }}
                                </div>
                                <div class="input-group">
                                    {{ form_label(form.reponse2) }}
                                    {{ form_widget(form.reponse2,{'attr':{'class':'form-control'}}) }}
                                </div>
                                <div class="input-group">
                                    {{ form_label(form.reponse3) }}
                                    {{ form_widget(form.reponse3,{'attr':{'class':'form-control'}}) }}
                                </div>
                                <div class="input-group">
                                    {{ form_label(form.reponse) }}
                                    {{ form_widget(form.reponse,{'attr':{'class':'form-control'}}) }}
                                </div>
                                <!-- /.box-body -->
                                <div>
                                    <button type="submit" class="btn btn-primary">Ajouter</button>
                                </div>
                                {{ form_end(form) }}
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>
                </div>
            </section>

            <!-- /.row -->
        {% endblock %}