{% extends '::baseAdmin.html.twig' %}
        {% block content %}
<h1>Réclamation En cours</h1>
{% for c in t %}
    <fieldset style="width: 20%">
        <legend> Reclamation {{ c.sujet }}</legend>
        <table>


            <tr>
                <td><b>Sujet </b> </td>
                <td>{{ c.sujet }}</td>
            </tr>
            <tr>
                <td><b>Etat </b> </td>
                <td>{{ c.etat }}</td>
            </tr>
            <tr>
                <td><b>Description  </b> </td>
                <td>{{ c.description }}</td>
            </tr>

            <td><a href="{{ path("refuser",{'id': c.id}) }}">Traitée </a></td>
            <td><a href="{{ path("accepter",{'id': c.id}) }}">Lu </a></td>
            </tr>
        </table>
        </br>


    </fieldset>
{% endfor %}
</center>
        {% endblock %}