{% extends "::base.html.twig" %}
{% block body %}
    <h1 align="center">Resultat</h1><br>
    <div style="padding: 30px" align="center"><img src="{{ asset('templates/images/tick3.png') }}" width="70"><h3>  Reponses correctes : {{ repCorrecte }}</h3></div>
    <div style="padding: 30px" align="center"><img src="{{ asset('templates/images/crois.png') }}" width="70"><h3>  Reponses fausses : {{ repFausse }}</h3></div><br>
    {% if resultat== 0 %}
        <h2 align="center">Vous n'avez gagner aucaun point</h2>
        {% else %}
        <h2 align="center">Vous avez gagner {{ resultat }} points</h2>
            {% endif %}
{% endblock %}