
{% extends "::base.html.twig" %}
{% block body %}
    <!-- start search-->
    <div class="search-box">
        <div id="sb-search" class="sb-search">
            <form method="post"  action="rechercheCirque" >
                <input class="sb-search-input" placeholder="Entrez un mot..." type="search" name="ci6" id="search">
                <input class="sb-search-submit" type="submit" value="">
                <span class="sb-icon-search"> </span>

            </form>
        </div>
    </div>
    <!----search-scripts---->
    <script src="{{ asset('templates/js/classie.js')}}"></script>
    <script src="{{ asset('templates/js/uisearch.js')}}"></script>
    <script>
        new UISearch( document.getElementById( 'sb-search' ) );
    </script>
    <!----//search-scripts---->

    <div class="main">
    <div class="shop_top">
        <div class="container">
            <div class="row shop_box-top">


    {% for i in  all  %}


                <div class="col-md-3 shop_box"><a href="single.html.twig">
                        <td>
                            <div style="" >
                                <a> <img  src="{{asset ('/famicityRefaireIntegration2.0all/famicity5/web/photo_membre/' ~ i.imageService ~ '')}}"  class="img-cadre" width="260" height="300"></a>
                            </div>

                        </td>
                        <span class="new-box">
						<span class="new-label">PARC</span>
					</span>

                        <div class="shop_desc">
                            <!--h3><a href="#">aliquam volutp</a></h3>
                            <p>Lorem ipsum consectetuer adipiscing </p>
                            <span class="reducedfrom">$66.00</span>
                            <span class="actual">$12.00</span><br-->
                            <ul class="buttons">
                                <li>{{ i.libelle }}</li>
                                <li>Description:  {{ i.description }}</li>
                                <li> Prix:  {{ i.prix }} D</li>
                                <br>
                                {% if is_granted('ROLE_USER') %}
                                    <li class="cart"><a href="{{ path('add2',{'id':i.idService}) }}">Reserver</a></li>
                                {% endif %}
                                {% if is_granted('ROLE_USER') %}
                                    <li class="cart"><a href="{{ path('add3',{'id':i.idService}) }}">Reserver par point de fidélité</a></li>
                                {% endif %}
                                <li class="shop_btn"><a href="{{ path('voirplus',{'id':i.idService} )}}">Voir plus</a></li>
                                <div class="clear"> </div>
                            </ul>
                        </div>
                    </a></div>
    {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}