{% extends "::base.html.twig" %}
{% block body %}
    <body xmlns="http://www.w3.org/1999/html">
    <div class="main">
        <div class="shop_top">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 single_left">
                        <div class="single_image">
                            <ul id="etalage">
                                    <a> <img  src="{{asset ('/famicityRefaireIntegration2.0all/famicity5/web/imageService/' ~ services.imageService ~ '')}}"  class="img-cadre" width="260"></a>
                            </ul>
                        </div>
                        <!-- end product_slider -->
                        <div class="single_right">
                            <h2><b>{{ services.libelle }}</b></h2>
                            <p class="m_10">{{ services.description }}</p>
                            <div class="btn_form">
                            </div>
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box-info-product">
                            <strike><h3>Prix : {{ services.prix }}</h3></strike>
                            <h5><p class="price2">{% for i in promos %}
                                    Prix promo : {{ i.prixPromo }}
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {% if carte == '5' %}
                                    Prix fidelite : {{ i.prixPromo - 5 }}
        {% elseif carte == '10' %}
                                    Prix fidelite : {{ i.prixPromo - 10 }}
    {% else%}
                                    Prix fidelite : {{ i.prixPromo - 15 }}
        {% endif %}
                                </p></h5>
                            <form method="post" action="{{ path("reservationA",{'prix': i.prixPromo}) }}">
                                {% if i.prixPromo <= points %}
                                <button type="submit" name="Submit" class="exclusive">  <span>Reserver</span>
                                </button>
                                    {% else %}
                                    <button type="submit" name="Submit" class="exclusive" disabled> <span>Reserver</span>
                                    </button>
                                        {% endif %}
                                    </button>
                            </form>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}