{% extends "::base.html.twig" %}
{% block body %}
<div class="main">
    <div class="shop_top">
        <div class="container">
            <div class="row team_box">
                <h3 class="m_2">Our Team</h3>
                <div class="col-md-3 team1">
                    <a class="popup-with-zoom-anim" href="#small-dialog3"><img src="images/team1.jpg" class="img-responsive" title="continue" alt=""/></a>
                    <div id="small-dialog3" class="mfp-hide">
                        <div class="pop_up2">
                            <h2>Lorem ipsum </h2>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie.</p>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie.</p>
                        </div>
                    </div>
                    <h4 class="m_5"><a href="#">Lorem Ipsum is simply dummy</a></h4>
                    <p class="m_6">sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna</p>
                </div>
                <div class="col-md-3 team1">
                    <a class="popup-with-zoom-anim" href="#small-dialog3"><img src="images/team2.jpg" class="img-responsive" title="continue" alt=""/></a>
                    <div id="small-dialog3" class="mfp-hide">
                        <div class="pop_up2">
                            <h2>Lorem ipsum </h2>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie.</p>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie.</p>
                        </div>
                    </div>
                    <h4 class="m_5"><a href="#">Lorem Ipsum is simply dummy</a></h4>
                    <p class="m_6">sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna</p>
                </div>
                <div class="col-md-3 team1">
                    <a class="popup-with-zoom-anim" href="#small-dialog3"><img src="images/team3.jpg" class="img-responsive" title="continue" alt=""/></a>
                    <div id="small-dialog3" class="mfp-hide">
                        <div class="pop_up2">
                            <h2>Lorem ipsum </h2>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie.</p>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie.</p>
                        </div>
                    </div>
                    <h4 class="m_5"><a href="#">Lorem Ipsum is simply dummy</a></h4>
                    <p class="m_6">sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna</p>
                </div>
                <div class="col-md-3 team1">
                    <a class="popup-with-zoom-anim" href="#small-dialog3"><img src="images/team4.jpg" class="img-responsive" title="continue" alt=""/></a>
                    <div id="small-dialog3" class="mfp-hide">
                        <div class="pop_up2">
                            <h2>Lorem ipsum </h2>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie.</p>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie.</p>
                        </div>
                    </div>
                    <h4 class="m_5"><a href="#">Lorem Ipsum is simply dummy</a></h4>
                    <p class="m_6">sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 team_bottom">
                    <ul class="team_list">
                        <h4>Advantages</h4>
                        <li><a href="#">Always free from repetition</a><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt</p></li>
                        <li><a href="#">Always free from repetition</a><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt</p></li>
                        <li><a href="#">Always free from repetition</a><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt</p></li>
                        <li><a href="#">Always free from repetition</a><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt</p></li>
                    </ul>
                </div>
                <div class="col-md-8">
                    <ul class="team_list">
                        <h4>Vision Statement</h4>
                        <p class="m_7">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                        <img src="images/team5.jpg" class="img-responsive" alt=""/>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
