{% extends '::base.html.twig' %}
        {% block body %}
<link rel="stylesheet" href="{{ asset('bundles/adesignscalendar/css/fullcalendar/fullcalendar.css') }}" />
{% include 'ADesignsCalendarBundle::calendar.html.twig' %}
<script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/jquery/jquery-1.8.2.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/fullcalendar/jquery.fullcalendar.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/calendar-settings.js') }}"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
            <div class="main">
                <div class="shop_top">
                    <div class="container">
                        <div class="col-md-6">
                            <p class="login-title">
                            <h4 class="title">Ajouter un nouveau évènement</h4>
                            <div id="loginbox" class="loginbox">
                                <form action="" method="post" name="login" id="login-form">
                                    <fieldset class="input">
                                        <p id="login-form-username">
                                        <p id="loginbox" class="loginbox">
                                            {{ form_start(form) }}
                                            {{ form_label(form.nomEvenement,"Nom Evenement*") }}
                                            {{ form_widget(form.nomEvenement,{'attr':{'class':'inputbox'}}) }}
                                        </p>
                                        <p id="login-form-username">
                                            {{ form_label(form.horairePlaning, "Date Evenement*") }}
                                            {{ form_widget(form.horairePlaning,{'attr':{'class':'inputbox'}}) }}
                                        </p>
                                        <p id="login-form-username">

                                            {{ form_label(form.planingService,"Nom Service*") }}
                                            {{ form_widget(form.planingService,{'attr':{'class':'inputbox'}}) }}
                                        </p>
                                        <p id="login-form-username">
                                            {{ form_label(form.planingFamille,"Nom famille*") }}
                                            {{ form_widget(form.planingFamille,{'attr':{'class':'inputbox'}}) }}
                                        </p>
                                        <div>
                                            <input type="submit" name="Submit" class="button" value="Ajouter"><div class="clear"></div>
                                        </div>
                                        {{ form_end(form) }}
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p class="login-title">
                            <h4 class="title">Famicity Event</h4>
                            <img src="{{ asset('templates/images/sliderh0.jpg') }}" class="img-responsive" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}