{% extends '::base.html.twig' %}
        {% block body %}
            <!-- Main row -->
            <div class="main">
                <div class="shop_top">
                    <div class="container">
                        <div class="col-md-6">
                            <p class="login-title">
                            <h4 class="title">Modifier l'évènement</h4>
                            <div id="loginbox" class="loginbox">
                                <form action="" method="post" name="login" id="login-form">
                                    <fieldset class="input">
                                        <p id="login-form-username">
                                        <p id="loginbox" class="loginbox">
                                            {{ form_start(form) }}
                                            {{ form_label(form.nomEvenement,"Nom Evenement*") }}
                                            {{ form_widget(form.nomEvenement,{'attr':{'id':'modlgn_username'}}) }}
                                        </p>
                                        <p id="login-form-username">
                                            {{ form_label(form.horairePlaning, "Date Evenement*") }}
                                            {{ form_widget(form.horairePlaning,{'attr':{'id':'modlgn_username'}}) }}
                                        </p>
                                        <p id="login-form-username">
                                            {{ form_label(form.planingService,"Nom Service*") }}
                                            {{ form_widget(form.planingService,{'attr':{'id':'modlgn_username'}}) }}
                                        </p>
                                        <p id="login-form-username">
                                            {{ form_label(form.planingFamille,"Nom famille*") }}
                                            {{ form_widget(form.planingFamille,{'attr':{'class':'inputbox'}}) }}
                                        </p>
                                        <div>
                                            <input type="submit" name="Submit" class="button" value="Valider"><div class="clear"></div>
                                        </div>
                                        {{ form_end(form) }}

                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}