{% extends "::base.html.twig" %}
{% block body %}
    <div class="post-container">
        <div class="post-thumb"><img src="{{ asset('templates/images/rest02.jpg')}}"   /></div>
        <div class="post-content">
            <h3 class="post-title">Description</h3>
            <p>Le Blooming Resto Beach est l’un des beach bars les plus appréciés à Sousse.<br>
                Une bonne ambiance et des soirées différentes chaque soir, le tout dans un cadre des plus agréables.<br>
                Pour les habitants du Grand Tunis, le Blooming Resto Beach a décidé d’ouvrir ses portes à Gammarth aussi,<br>
                et ce à partir du 4 août. Pour la soirée d’ouverture, le beach bar recevra les talentueux.
            </p>
    </div>


</div>
    <div>
        prix :{{ all }}



    <b>Votre avis</b>

                            <table>
                                <input type="text" style="width:200px; height:100px;">
                            </table>
                            <input type="submit" value="Envoyer" />
                       </div>



{% endblock %}