{% extends "::base.html.twig" %}
{% block body %}

    <div class="shop_top">
        <div class="container">

            {{ form_start(f)}}
            <div class="register-top-grid">

                <div>
                    <span>{{ form_label(f.nbPlacesreserve, "nombre de places que vous souhaitez réserver") }}<label>*</label></span>
                    {{ form_widget(f.nbPlacesreserve) }}
                </div>

                <div>
                    <span>{{ form_label(f.dateReservation, "date de réservation ") }}<label>*</label></span>
                    {{ form_widget(f.dateReservation) }}
                </div>



                <div class="clear"> </div>
            </div>
            <div class="clear"> </div>
            <div class="register-bottom-grid">



                <div class="clear"> </div>
            </div>
            <div class="clear"> </div>
            <div>

                {{ form_label(f.valider) }}
                {{ form_widget(f.valider) }}
            </div>
            <div>

            </div>
            {{ form_end(f ) }}
        </div>
        <div>

        </div>
    </div>
{% endblock %}