{% extends "::base.html.twig" %}
{% block body %}

<div class="main">
    <div class="shop_top">
    <div class="container">
        <div class="col-md-6">
            <div class="login-title">
                <h4 class="title">annuler votre reservation</h4>
                <div id="loginbox" class="loginbox">


                    <form action="{{ path("deleteres") }}" method="post"  name="login" id="login-form">

                        <fieldset class="input">
                            <p id="login-form-username">
                                <label for="modlgn_username">veuillez entrer votre id de reservation</label>
                                <input id="username"  type="text"  name="reserv"  required="required">
                            </p>

                            <div class="remember">


                                <input type="submit" id="_submit" class="button" name="_submit"  value="supprimer" />

                            </div>
                            <div class="remember">
                                <div class="remember">
                                    <div class="remember">
                                        <div class="remember">

                        </fieldset>
                    </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
                </div>
            </div>
    </div>
            {% endblock %}