{% extends "::base.html.twig" %}
{% block body %}
<div class="main">
    <div class="shop_top">
        <div class="container">


            <h3>Ce serive est complet </h3>
<a href="{{ path('index') }}">revenir à la page d'accueil</a>
            </div>
        </div>
    </div>

{% endblock %}
