{% extends "::base.html.twig" %}

{% block body %}
    <div class="main">
    <div class="shop_top">
    <section class="container">
            <!-- Main row -->
            <section class="content">
            <div class="row">
            <div class="col-lg-12">
            <section class="panel">
                <form method="POST">

                    <div class="box-header">
                        <h4 >Réservation de {{ app.user.username }}</h4>


                    </div>

                </form>
                <table class="table table-striped table-advance table-hover">

                    <tr>
                        <th><i class="icon_profile"></i>ID Reservation</th>
                        <th><i class="icon_profile"></i>ID user</th>
                        <th><i class="icon_profile"></i>Service</th>

                        <th><i class="icon_mail_alt"></i> Nombre de place reservé</th>
                        <th><i class="icon_pin_alt"></i> Date de reservation</th>
                        <th><i class="icon_pin_alt"></i> Date dont laquelle la reservation a été effectué</th>
                        <th><i class="icon_pin_alt"></i>supprimer </th>


                    </tr>
                    {% for ca in res  %}

                        <tr>
                            <td>{{ca.idReservation}}</td>
                            <td>{{ app.user.id }}</td>
                            <td>{{ca.iService.libelle}}</td>
                            <td>{{ca.nbPlacesreserve}}</td>
                            <td>{{ca.dateReservation | date('Y-m-d') }}</td>
                            <td>{{ ca.dateC | date('Y-m-d') }}</td>
                            <td>
                                <a href="{{ path('deleteres',{'id':ca.idReservation}) }}">supprimer</a>
                            </td>



                        </tr>
                    {% endfor %}

                    {{ knp_pagination_render(res) }}




                </table>
                <div class="row">
                </div>
            </section>
    </div></div>

            <!-- /.row -->
                {% endblock %}