<body>
<h2> <strong> Formulaire De Contact</strong> </h2>
<hr>
<h3><p> Contacter nous </p></h3>
{{ form_start (form) }}
<table>
    <tr>
        <td> username </td>
        <td> {{ form_widget (form.username) }} </td>
    </tr>
    <tr>
        <td> mail </td>
        <td> {{ form_widget (form.email) }} </td>
    </tr>

   </table>
{{ form_end (form) }}
</body>