{% extends 'base.html.twig' %}
{% block body %}
<div class="main">
    <div class="shop_top">
        <div class="container">
            <div class="col-md-6">
                <div class="login-page">
                    <h4 class="title">Famicity..Unifier votre famille</h4>
                    <div class="buttons">
                        <img src="{{ asset('templates/images/slide02.jpg') }}" class="img-responsive" alt=""/>
                        <div class="button1">
                            <a href="{{ path('famille_index') }}"><input type="submit" name="Submit" value="Retour en arriére"></a>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="login-title">
                       <h1>Editer Votre Famille</h1>
                    <div id="loginbox" class="loginbox">
                        <form action="" method="post" name="login" id="login-form">
                            <fieldset class="input">
                                <p id="login-form-username">
                                    <br>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" style="margin-right: 250px" />
    {{ form_end(edit_form) }}


            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" style="margin-right: 241px">
            {{ form_end(delete_form) }}


                </fieldset>
                </form>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
    </div>
    </div>
    </div>
{% endblock %}
