{% extends 'base.html.twig' %}
{% block body %}
<div class="main">
    <div class="shop_top">
        <div class="container">
                    <div class="col-md-6">
                        <div class="login-page">
                            <h4 class="title">Famicity..Unifier votre famille</h4>
                            <div class="buttons">
                                <img src="{{ asset('templates/images/h3.jpg') }}" class="img-responsive" alt=""/>
                                <div class="button1">
                                    <a href="{{ path('famille_index') }}"><input type="submit" name="Submit" value="Retour en arriére"></a>
                                </div>
                            </div>
                        <div class="clear"></div>
                    </div>
                    </div>
            <div class="col-md-6">
                <div class="login-title">
                 <strong>   <h4 class="title" >Créer une famille</h4></strong>
                    <div id="loginbox" class="loginbox">
                        <form action="" method="post" name="login" id="login-form">
                            <fieldset class="input">
                                <p id="login-form-username">
                                    <br>
                                    {{ form_start(form) }}
                                    {{ form_widget(form) }}
                                </p>
                                {{ form_end(form) }}
                                <br>
                                <div class="buttons">
                                    <input type="submit" name="Submit" value="Create" style="margin-right: 241px"></a>

                                </div>
                                {% for flashMessage in app.session.flashbag.get('notice') %}

                                    <div class="alert alert-success">
                                        {{ flashMessage }}
                                    </div>

                                {% endfor %}
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
             </div>
        </div>
    </div>
</div>
{% endblock %}
