#menu-deroulant, #menu-deroulant ul {
    padding: 0;
    margin: 0;
    list-style: none;

}
#menu-deroulant {
    /* on centre le menu dans la page */
    text-align: center;
}
#menu-deroulant li {
    /* on place les liens du menu horizontalement */
    display: inline-block;
}
#menu-deroulant ul li {
    /* on enlève ce comportement pour les liens du sous menu */
    display: inherit;
    background-color:#407ab1;
}
#menu-deroulant a {
    text-decoration: blanchedalmond;
    display: block;
}
#menu-deroulant ul {
    position: absolute;
    /* on cache les sous menus complètement sur la gauche */
    left: -999em;
    text-align: left;
    z-index: 1000;
    background-color:#407ab1;
}
#menu-deroulant li:hover ul {
    /* Au survol des li du menu on replace les sous menus */
    left: auto;
}