{% extends "::base.html.twig" %}
{% block body %}
Notifications :
{% for notification in notifications %}
    {{ notification.nomEmeteur }}
    {{ notification.subject }}



{% endfor %}

{% endblock %}
