<!-- /.dropdown -->
<div class="dropdown" style="    margin-right: 1052px;
    margin-top: -20px;">

    <button class="btn btn-default btn-lg btn-link" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="font-size:30px;">
        <span class="glyphicon glyphicon-bell notification-icon"></span>

    </button>
    <span class="badge badge-notify">{{ mgilet_unseen_notification_count() }} </span>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="margin-right: -293px; height: 472px;">
        <li style="padding: 10px;"><b class="text-muted">{{ 'notifications'|trans({},'MgiletNotificationBundle') }}</b>
            <a id="notification-MarkAllAsSeen" href="{{ path('notification_mark_all_as_seen') }}" class="no-margin btn btn-xs pull-right">{{ 'mark_all_as_seen'|trans({},'MgiletNotificationBundle') }}</a>
        </li>
        <br>
        <hr class="no-margin">
        <div class="scrollable-menu" style="height: 310px;max-height: 50vh;overflow-x: hidden; margin: 0">
            <div class="list-group no-margin">
                {% for notification in notifications %}
                    <li class="list-group-item notification">
                        {% if notification.seen %}
                        <div class="row-content seen">
                            {% else %}
                            <div class="row-content">
                                <a href="{{ path('notification_mark_as_seen', {'notification': notification.id}) }}" class="ajax-notification action-secondary text-muted btn btn-xs">x</a>
                                {% endif %}
                                <a href="{{ notification.link }}">
                                    <h4 style="color:cadetblue"><b>{{ notification.subject }}</b></h4>
                                    <h4 style="color:cadetblue"><b>{{ notification.nomEmeteur }}</b></h4>
                                    <p class="list-group-item-text" style="color: black">{{ notification.message }}</p>
                                    <small class="list-group-item-text" style="color: darkolivegreen">{{ notification.date|date('H:i:s - d/m/Y') }}</small>
                                    <a href="{{ path('accepteMembre',{'id':notification.idemeteur,'idpersonne':app.user.id})}}">    <input style="color:#0AA5E2" type="submit" value="Approuver" /> </a>
                                    <a href="#">  <input style="color: #0AA5E2" type="submit" value="Ignorer" /> </a>
                                </a>
                            </div>
                    </li>
                {% endfor %}
            </div>
            {% if notifications|length < 1 %}
                <div class="well-lg text-muted text-center">
                    <b>{{ 'no_new_notification'|trans({},'MgiletNotificationBundle') }}</b></div>
            {% endif %}
        </div>
        <li class="text-center">
            <hr class="no-margin">
            <a class="no-margin btn btn-sm btn-block" href="{{ path('notifications_list') }}">{{ 'all_notifications'|trans({},'MgiletNotificationBundle') }}</a>
        </li>
    </ul>
</div><!-- /.dropdown -->